@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font1: "Montserrat", sans-serif;
  --fontsize: 12px;
  --divcolor: linear-gradient(
    to bottom right,
    #a2d2ff,
    #bde0fe,
    #ffaecc,
    #cbb5d9
  );
  --color: rgb(181, 71, 129);
  --color2: #f5c9d4;
}

.header {
  top: 5px;
  left: 20px;
  position: fixed;
  width: 100%;
}
.nav_container {
  position: relative;
  height: 4rem;
  display: flex;
}
.nav_container .nav_logo {
  position: absolute;
  left: 8%;
}
.nav_list_container {
  position: absolute;
  list-style-type: none;
  padding: 8px 10px;
  left: 400px;
  display: flex;
  font-family: var(--font1);
  font-size: var(--fontsize);
  z-index: 1;
  cursor: pointer;
}

.nav_list_container .nav_list_item {
  padding: 0 5px;
}
.nav_list_icon_container {
  list-style-type: none;
  height: 2px;
  position: fixed;
  margin-left: 1060px;
  display: inline-flex;
}
.nav_list_icon_container .nav_list_icon {
  padding: 0 8px;
  cursor: pointer;
}
.nav_list_icon_container:hover {
  color: var(--color);
}
.main_content h2 {
  margin-top: 150px;
  padding: 0 10%;
  margin-bottom: 25px;
  font-size: 50px;
  width: 350px;
}
.cursor {
  position: relative;
  width: 15em;
  border-right: 2px solid #ffaecc;
  font-size: 30px;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
.main-header {
  animation: typewriter 5s steps(50) 5s infinite normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 41%;
  }
}
@keyframes blinkingCursor {
  from {
    border-right-color: #ffaecc;
  }
  to {
    border-right-color: transparent;
  }
}

.main_content h4 {
  padding: 0 10%;
  color: var(--color);
}
.main_content p {
  padding: 0 10%;
  width: 300px;
}
#add_to_cart {
  margin: 0 10%;
  background-image: var(--divcolor);
  border-style: none;
  border: 2px solid white;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
}
.main_content button:hover {
  margin: 0 10%;
  background-image: var(--divcolor);
  width: 130px;
  height: 40px;
  cursor: pointer;
  border-radius: 20px;
}
.main-svg {
  height: 95%;
  position: absolute;
  right: 110px;
  bottom: 0;
  z-index: -1;
}
.main_article .main-article1 {
  height: 95%;
  position: absolute;
  right: 120px;
  bottom: 0;
}
.main-article-cover {
  position: absolute;
  background-image: var(--divcolor);
  width: 400px;
  right: 5px;
  height: 90vh;
  opacity: 0.2;
  bottom: 0;
  z-index: -1;
}
.customer-thumnail {
  width: 100%;
  height: 100%;
  margin-top: 180px;
  background-color: var(--color2);
}
.customer-thumnail h1 {
  font-size: 25px;
  display: inline-block;
  justify-content: space-between;
  padding: 0rem 7.5rem;
  color: var(--color);
}
.customer-thumnail p {
  font-family: var(--font1);
  display: inline-block;
  justify-content: space-between;
  margin-top: -200px;
  padding: 0 6.5rem;
  font-size: 14px;
}
.products-container h1 {
  line-height: 25vh;
  text-align: center;
}
.products-container .product-article {
  display: flex;
  line-height: 3vh;
  right: 100px;
  padding: 1rem 10rem;
  bottom: 0;
}
.product-article1 h4 {
  display: flex;
  line-height: 1vh;
  width: 15vw;
  top: 1150px;
  text-align: center;
  padding-left: 90px;
}
.product-article2 h4 {
  display: flex;
  line-height: 2vh;
  width: 21vw;
  top: 150px;
  text-align: center;
  padding-left: 40px;
}
.product-article3 h4 {
  position: absolute;
  display: flex;
  width: 50vw;
  top: 1208px;
  text-align: center;
  padding-left: 100px;
  padding-bottom: 100px;
}
.product-article1 p {
  position: absolute;
  width: 250px;
  line-height: 18px;
  text-align: center;
  padding-left: 50px;
  top: 1250px;
  font-size: 14px;
}
.product-article2 p {
  position: absolute;
  width: 285px;
  line-height: 18px;
  text-align: center;
  padding-left: 40px;
  top: 1250px;
  font-size: 14px;
}
.product-article3 p {
  position: absolute;
  width: 190px;
  line-height: 18px;
  text-align: center;
  padding-left: 80px;
  top: 1250px;
  font-size: 14px;
}
.product-article1 button {
  width: 35%;
  height: 7%;
  border-radius: 10px;
  border-style: none;
  margin-left: 100px;
  margin-top: 70px;
  background-image: var(--divcolor);
}
.product-article2 button {
  width: 35%;
  height: 7%;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 70px;
  background-image: var(--divcolor);
  border-style: none;
}
.product-article3 button {
  width: 35%;
  height: 7%;
  background-color: var(--color2);
  background-image: var(--divcolor);
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 70px;
  border-style: none;
}

.aboutus h1 {
  font-size: 50px;
  color: var(--color);
  padding: 0 10%;
}
.aboutus p {
  padding: 0 10%;
  width: 400px;
}
.aboutus img {
  position: absolute;
  top: 1500px;
  right: 120px;
  bottom: 0;
}
hr {
  position: absolute;
  top: 1900px;
  width: 100%;
  height: 2px;
}
.Subscribe {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 1930px;
  padding-left: 40px;
  background-image: var(--divcolor);
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  border-radius: 20px;
}
.Subscribe h1 {
  color: var(--color);
}
.Subscribe input {
  width: 30%;
  height: 15%;
}
.Subscribe button {
  background-color: var(--color);
  color: white;
  width: 15%;
  height: 18%;
  border-style: none;
}
.footer-logo {
  position: absolute;
  top: 395%;
  padding: 0 10%;
}

.footer-icon-list {
  position: absolute;
  color: var(--color);
  display: flex;
  list-style-type: none;
  top: 413%;
  left: 80px;
}
.footer-icon-list .footer-icon {
  padding: 0 1.1rem;
}
.footer-quick-link {
  position: absolute;
  padding-top: 170%;
  padding-left: 40%;
  display: block;
  top: 22%;
  list-style-type: none;
}
.footer-quick-link li {
  padding-top: 10px;
}
.contact-info {
  position: absolute;
  top: 395%;
  padding: 3rem 50rem;
}
@media screen and (max-width: 460px) {
  .header {
    width: 100%;
  }
  .nav_container .nav_list_item {
    position: absolute;
    height: 10rem;
    width: 100%;
    display: flex;
  }
  .nav_list_icon_container .nav_list_icon {
    position: absolute;
    height: 4rem;
    display: flex;
  }
  .main_content h4 {
    padding-bottom: 6px;
  }
  .main_content h2 {
    margin-top: 150px;
    padding: 0 10%;
    margin-bottom: 25px;
    font-size: 50px;
    width: 350px;
  }
  .cursor {
    position: relative;
    width: 100px;
    border-right: 2px solid #ffaecc;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
  }
  .main-header {
    font-size: medium;
    animation: typewriter 5s steps(50) 5s infinite normal both,
      blinkingCursor 500ms steps(50) infinite normal;
  }
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 20%;
    }
  }
  @keyframes blinkingCursor {
    from {
      border-right-color: #ffaecc;
    }
    to {
      border-right-color: transparent;
    }
  }

  .main-article1 img {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-right: 30rem;
    margin-top: 20rem;
    z-index: -1;
  }
  .main_content h4 {
    padding: 0 5%;
    color: var(--color);
  }
  .main_content p {
    padding: 0 5%;
    width: 50%;
    font-size: small;
  }
  .main-article-cover {
    position: absolute;
    top: 220px;
    width: 100px;
    height: 200px;
    left:230px;
    
  }
  .main_article .main-article1 {
    position: absolute;
    right:230px;
    bottom:180px;
  }
  .main-svg {
  height: 40%;
  position: absolute;
  top:210px;
  left:140px;
  bottom: 0;
  z-index: -1;
}
.customer-thumnail {
  width: 100%;
  height: 20%;
  margin-top:50px;
  background-color: var(--color2);
}
.customer-thumnail h1 {
  font-size: 15px;
  display:inline-flex;
  justify-content:space-between;
  padding: 0.2rem 1.3rem;
  color: var(--color);
}
.customer-thumnail p {
  font-family: var(--font1);
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -200px;
  padding: 0 1.4rem;
  font-size: 10px;
}
.customer-thumnail .thumnail{
  width:10px;
  font-size:10px;
}
.products-container h1{
 position: absolute;
 top:550px;
 text-align: center;
 padding-left: 30px;
}
.products-container .product-article {
  display:inline-block;
  line-height: 3vh;
  right: 100px;
  padding: 5rem 0.5rem;
}

.product-article1 h4 {
  width:7rem;
  top:10px;
  text-align: center;
  padding-left: 6rem;
}
.product-article2 h4 {
  width:10rem;
  top:10px;
  text-align: center;
  padding-left: 4rem;
}
.product-article3 h4 {
  position: absolute;
   width:10rem;
  top:1770px;
  text-align: center;
  padding-left: 6rem;
}
.product-article1 p {
  position: absolute;
  width: 250px;
  top:1000px;
  text-align: center;
  padding-left: 50px;
  font-size: 14px;
}
.product-article2 p {
  position: absolute;
  width: 286px;
  top:1420px;
  text-align: center;
  padding-left:10px;
  font-size: 14px;
}
.product-article3 p {
  position: absolute;
  width: 286px;
  top:1800px;
  text-align: center;
  padding-left:10px;
  font-size: 14px;
}
.product-article1 button {
  width: 30%;
  height: 10%;
  border-radius: 10px;
  border-style: none;
  margin-left: 100px;
  margin-top: 30px;
  background-image: var(--divcolor);
}
.product-article2 button {
  width: 30%;
  height: 10%;
  border-radius: 10px;
  border-style: none;
  margin-left: 100px;
  margin-top: 40px;
  background-image: var(--divcolor);
}
.product-article3 button {
  width: 35%;
  height: 7%;
  background-color: var(--color2);
  background-image: var(--divcolor);
  border-radius: 10px;
  margin-left: 80px;
  margin-top: 10px;
  border-style: none;
}
.aboutus h1 {
  font-size: 50px;
  color: var(--color);
  padding-left:10%;
  margin-top: 2px;
}
.aboutus p {
  position: absolute;
  width:10rem;
  height: 30rem;
  font-size: 13px;
  top: 2060px;
  left:10px;
  bottom: 0;
}
.aboutus img {
  position: absolute;
  top: 2030px;
  width:250px;
  height: 250px;
   left:100px;
  bottom: 0;
  z-index: -1;
}

.Subscribe {
  position: absolute;
  width: 70%;
  height: 30%;
  top: 2310px;
  padding-left: 40px;
  background-image: var(--divcolor);
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  border-radius: 20px;
}
.Subscribe h1 {
  width:15rem;
  font-size: 23px;
  color: var(--color);
}
.Subscribe input {
  width: 55%;
  height: 15%;
}
.Subscribe button {
  background-color: var(--color);
  color: white;
  width: 35%;
  height: 18%;
  border-style: none;
}
.footer-logo {
  position: absolute;
  top: 435%;
  padding: 0 10%;
}
.footer-icon-list {
  position: absolute;
  color: var(--color);
  display: flex;
  list-style-type: none;
  top: 455%;
  left: 30px;
}
.footer-icon-list .footer-icon {
  padding: 0 1.1rem;
}
.footer-quick-link {
  position: absolute;
  padding-top:156rem;
  padding-left: 25%;
  display: block;
  top: 22%;
  list-style-type: none;
}
.footer-quick-link li {
  padding-top: 10px;
}
.contact-info {
  position: absolute;
  top: 489%;
  padding: 1rem 4.5rem;
}
}
